:root {
  --header-height: 55px;
  --footer-height: 40px;
  --bg-color: #454955;
  --fg-color: #F3EFF5;
}

.app {
  background-color: var(--bg-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: var(--fg-color);

  box-shadow: 0px 0px 6px 0px #252323;

  height: var(--header-height);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 3;
}

.logo {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  color: #252323;

  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  background-color: var(--bg-color);

  width: 100%;

  min-height: 100vh;
  margin-top: calc(-1 * var(--header-height));
  margin-bottom: calc(-1 * var(--footer-height));

  display: flex;
  justify-content: center;

  z-index: 1;
}

@media screen and (max-width: 420px) {
  .body-container {
    width: 100%;
  }
}

@media screen and (min-width: 420px) {
  .body-container {
    width: 420px;
  }
}

.body-container {
  background-color: var(--bg-color);

  margin-top: var(--header-height);
  margin-bottom: var(--footer-height);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 260px;
  width: 100%;
}

.card:nth-child(4n) {
  color: var(--bg-color);
}

.card:nth-child(4n+1) {
  color: var(--bg-color);
}

.card:nth-child(4n+2) {
  color: var(--bg-color);
}

.card:nth-child(4n+3) {
  color: var(--bg-color);
}

.footer {
  background-color: var(--fg-color);

  box-shadow: 0px 0px 6px 0px #252323;

  height: var(--footer-height);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;


  z-index: 2;
}

.about-link {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #252323;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  color: #grey;
}

.article {
  color: grey;
}