:root {
  --header-height: 80px;
  --footer-height: 80px;
  --dark-color: #222;
  --light-color: #333;
  --card-border: 6px;
}

.app {
  background-color: var(--dark-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: var(--light-color);

  height: var(--header-height);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 3;
}

.logo {
  background-color: #444333;
  height: 50px;
  width: 100px;
}

.body {
  background-color: var(--dark-color);

  min-height: 100vh;
  margin-top: calc(-1 * var(--header-height));
  margin-bottom: calc(-1 * var(--footer-height));

  z-index: 1;
}

@media screen and (max-width: 500px) {
  .body {
    width: 100%;
  }
}

@media screen and (min-width: 500px) {
  .body {
    width: 500px;
  }
}

.body-container {
  background-color: var(--dark-color);

  margin-top: var(--header-height);
  margin-bottom: var(--footer-height);

  padding-top: var(--card-border);
  padding-bottom: var(--card-border);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #333444;

  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin: var(--card-border);

  height: 150px;
  width: 100%;
}

.footer {
  background-color: var(--light-color);

  height: var(--footer-height);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;


  z-index: 2;
}

.about-link {
  background-color: #444666;
  height: 50px;
  width: 100px;

  color: grey
}

.about {
  color: grey
}

.article {
  color: grey
}