.App {
  background-color: #222;
  height:100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  background-color: #333;
  height: 10vh;
  width: 50vw;
}

.Body {
  background-color: #444;
  color: white;
  height: 80vh;
  width: 50vw;

  align-items: center;
  display: flex;
  justify-content: center;
}

.Footer {
  background-color: #555;
  height: 10vh;
  width: 50vw;
}
