body {
  background-color: #3E363F;
}

.Header {
  background-color: #F1E4E8;
  height: 6vh;

  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 0 auto;

  /* Tasty shadow */
  box-shadow: 0px 3px 3px #000000;
}

.Board {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;

  height: 94vh;
}

.Card {
  /* Layout */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  /* Size */
  width: 250px;
  max-height: 150px;

  /* Content */
  text-decoration: none;

  /* Tasty shadow */
  margin: 10px;
  box-shadow: 2px 3px 3px #000000;
}

.CardTitle {
  color: #F1E4E8;
  text-align: left;

  padding: 10px;
}

.CardSummary {
  color: #F1E4E8;
  text-align: left;

  padding: 10px 10px 10px 20px;
}

.Card:nth-of-type(3n) {
  background: #5AB1BB;
}

.Card:nth-of-type(3n+1) {
  background: #A08B94;
}

.Card:nth-of-type(3n+2) {
  background: #A5C882;
}

.Article {
  color: #F1E4E8
}

.About {
  color: #F1E4E8
}
