body {
  background-color: #3E363F;
}

.Article {
  color: #F1E4E8
}

.About {
  color: #F1E4E8
}

.HeaderContainer {
  background-color: rebeccapurple;

  display: flex;

  justify-content: center;
}

.Header {
  background-color: red;

  height: 60px;
  width: 1000px;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.HeaderCard {
  background-color: darkseagreen;
  text-align: center;
  line-height: 60px; /* Same as Header height since align-items is stretch. */

  width: 60px;

  margin-left: 10px;
  margin-right: 10px;
}

.BoardContainer {
  background-color: yellow;

  display: flex;

  justify-content: center;
}

.Board {
  background-color: cornflowerblue;

  max-width: 1000px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.BoardCard {
  background-color: orange;
  text-align: center;

  flex-grow: 1;

  margin: 10px;
}
